{{ define "parallel_blocks" }}
  <style>
    #parallel_blocks_table td {
      max-width: 200px;
    }
  </style>
  <div class="row p-1 mx-0">
    <div class="col-md-12 text-center"><b>Showing {{ len .Data.ParallelBlocks }} Execution Blocks</b></div>
  </div>
  <div class="table-responsive">
    <table class="table table-sm text-left">
      <tbody id="parallel_blocks_table">
        <tr style="background-color: var(--bg-color-light);">
          <th class="border-0">Rank</th>
          <th class="border-0">Block Number</th>
          <th class="border-0">Block Hash</th>
          <th class="border-0">Fee Recipient</th>
          <th class="border-0">Gas Used</th>
          <th class="border-0">Gas Limit</th>
          <th class="border-0">Transactions</th>
          <th class="border-0">Timestamp</th>
        </tr>
        {{ range .Data.ParallelBlocks }}
          <tr class="border-bottom">
            <td class="border-0">
              {{ if eq .Rank 0 }}
                <span class="badge bg-success text-white" data-toggle="tooltip" title="Beacon Block - Primary execution block">{{ .Rank }}</span>
              {{ else }}
                <span class="badge bg-info text-white" data-toggle="tooltip" title="Parallel execution block">{{ .Rank }}</span>
              {{ end }}
            </td>
            <td class="border-0">
              <a href="/block/{{ .BlockNumber }}/rank/{{ .Rank }}" class="text-monospace">{{ formatAddCommas .BlockNumber }}</a>
            </td>
            <td class="border-0">
              <a href="/block/0x{{ printf "%x" .BlockHash }}/rank/{{ .Rank }}" class="text-monospace text-truncate d-inline-block" style="max-width: 150px;" data-toggle="tooltip" title="0x{{ printf "%x" .BlockHash }}">
                0x{{ printf "%.8x" .BlockHash }}...
              </a>
            </td>
            <td class="border-0">
              {{ if .FeeRecipient }}
                <a href="/address/0x{{ printf "%x" .FeeRecipient }}" class="text-monospace text-truncate d-inline-block" style="max-width: 120px;" data-toggle="tooltip" title="0x{{ printf "%x" .FeeRecipient }}">
                  0x{{ printf "%.6x" .FeeRecipient }}...
                </a>
              {{ else }}
                <span class="text-muted">-</span>
              {{ end }}
            </td>
            <td class="border-0 text-monospace">{{ formatAddCommas .GasUsed }}</td>
            <td class="border-0 text-monospace">{{ formatAddCommas .GasLimit }}</td>
            <td class="border-0 text-monospace">{{ formatAddCommas .TransactionsCount }}</td>
            <td class="border-0">
              <span aria-ethereum-date="{{ .Time.Unix }}" aria-ethereum-date-format="FROMNOW" data-toggle="tooltip" title="{{ .Time.Format "2006-01-02 15:04:05 UTC" }}">
                {{ .Time.Format "15:04:05" }}
              </span>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
